*{
	margin: 0;
	padding: 0;
}

body{
	width: 80%;
	margin: auto;
	background-image: url("imagens/background-2.jpg");
	background-size: 100%;
	background-repeat: round;
	background-attachment: fixed;
	color: white;
}

.menu{
	margin-top: 10px;
	padding: 0px;
	text-align: center;
	width: auto;
	height: 100px;
}

.menu img{
	float: left;
	width: 100px;
	height: 100px;
	padding: 0;
}

.menu img:hover{
	background-image: radial-gradient(#38393a 15%, transparent 60%);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
	float: left;
	width: 33.3%;
	font-family: 'Audiowide';
	font-size: 22px;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 36px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-image: radial-gradient(#38393a 15%, transparent 60%);
}

ul.topnav li a.active {
	background-image: radial-gradient(#38393a 20%, transparent 60%);
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {
    	float: none;
    }
}

.content{
	width: 90%;
	padding: 20px;
}

.content h2{
	font-family: 'Audiowide';
	font-size: 22px;
	text-align: center;
	padding: 10px;
}

.content h3{
	padding: 10px 0;
}

.content .texto{
	text-align: justify;
	margin-top: 20px;
}

.perfil{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 4px solid #38393a;
	float: left;
	margin: 20px 20px 10px 0px;
}

#creditos{
	text-align: right;
	padding-right: 20%;
}

a:link {
	color: #a8810d;
    text-decoration: none;
}

a:visited {
	color: #a8810d;
    text-decoration: none;
}

a:hover {
	color: #a8810d;
    text-decoration: none;
}

a:active {
	color: #a8810d;
    text-decoration: none;
}

.spotify {
	margin: 10px auto;
	width: 50%;
	height: 80px;
}

.academico li, .profissional li, .idiomas li{
	font-size: 20px;
	margin-left: 50px;
	padding-bottom: 10px;
}

.academico p, .profissional p, .idiomas p{
	font-size: 18px;
	margin-left: 70px;
	padding-bottom: 10px;
}

.academico li {
	list-style-image: url(imagens/graduate-cap.png);
}

.profissional li {
	list-style-image: url(imagens/portfolio.png);
}

.idiomas li {
	list-style-image: url(imagens/language.png);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #38393a;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.botoes{
	text-align: center;
	margin-bottom: 25px;
}

.projetos{
	width: 95%;
	height: 500px;
  position: relative; 
	background-color: #38393a;
	border: 2px solid #ffffff;
	border-radius: 10px;
  margin: auto;
  padding:  20px;
	text-align: center;
}

.projeto{
  margin: auto;
  position: relative; 
  margin: auto
	padding: 10px;
  width: 100%;
	height: 100%;
	display: none;
}

.projeto:target{
	display: block;
}

.wall {
  position: absolute; 
  margin: 0 15%;
  float:  left;
  width: 70%;
  height: 100%;
}

.projetoimg{
  position:   relative;
  margin: 20px auto;
	text-align: center;
  width:  100%;
}

.projetoimg img{
	width: 95%;
	border-radius: 10px;
	cursor: pointer;
}

.projetoimg:hover {
	opacity: 0.8;
}

.projetodescr{
	text-align: center;
}

.anterior{
	float: left;
  width:  10%;
	height: 100%;
}

.proximo{
  float: right;
  width:  10%;
  height: 100%;
}

.anterior img, .proximo img {
	margin-top: 150px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

input[type=text], select, textarea {
	font-family: Arial;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; 
}

input[type=submit] {
	font-family: Arial;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
	font-family: Arial;
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

footer {
  background-color: #38393a;
  height: 30px;
  padding: 20px;
  width: 90%;
}

footer img {
  float: right;
  margin-left: 5px;
}

.copyright{
  float: left;
  text-align: left;
  color:  gray;
  font-size: 10px;
}