*{
	margin: 0;
	padding: 0;
}

body{
	width: 80%;
	margin: auto;
	background-image: url("imagens/background-2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}

.menu{
	margin-top: 10px;
	padding: 0px;
	text-align: center;
	width: auto;
	height: 100px;
}

.menu img{
	float: left;
	width: 100px;
	height: 100px;
	padding: 0;
}

.menu img:hover{
	background-image: radial-gradient(#38393a 15%, transparent 60%);
}

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
	float: left;
	width: 33.3%;
	font-family: 'Audiowide';
	font-size: 22px;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 36px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-image: radial-gradient(#38393a 15%, transparent 60%);
}

ul.topnav li a.active {
	background-image: radial-gradient(#38393a 20%, transparent 60%);
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {
    	float: none;
    }
}